h3{
    color: darkblue;
}
.Card{
    margin: 12px 222px 44px;
    width: 1000px;
}
 #user{
    margin: 15px 20px 24px;
    border: 3px black dotted;
}
#product{
    padding: 13px 22px 40px;
    width: 500px;
    height: 100px;
    ol{
        background-color: darkcyan;
    }
    a:hover{
        color: aquamarine;
    }
}
#artcl{
    border: 5px blue double;
    margin: 220px 2px 80px;
    table{
        color: brown;
    }
}