body{
    background-color: rgb(85, 78, 78);
    color: yellow;
}
h2{
    color: peachpuff;
    font-style: italic;
}
h4{
    color: blueviolet;
    font-size: large;
    border: 10px;
}
a{
    color: coral;
    margin: 100px;
    padding: 400px;
}
a:hover{
    color: whitesmoke;
}
#block1, #block2, #block3{
    p{
        margin: 16px 67px;
    }
    background-color: darkslategrey;
    border: 3px black double;
    margin: 10px 9px 60px;
    padding: 10px 15px;
}
#block4, #block5, #block6{
    p{
        margin: 19px 67px;
    }
    background-color: darkseagreen;
    border: 3px black double;
    margin: 10px 9px 60px;
    padding: 10px 15px;
}
.Head{
    background-color: royalblue;
    border: 2px black dotted;
    margin:14px 12px 30px;
}